#login-form {
  font-size: 2rem;
  padding: 10rem;
  margin: auto;
}

.form-container {
  margin: auto;
  max-width: 50rem;
}

.form-group {
  margin-top: 1rem;
}

input[type="text"] {
  font-size: 15px;
}

#btn-login {
  border: none;
  margin: 2rem 0;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  #login-form {
    display: flex;
    flex-flow: column;
    margin: 0;
  }

  .form-container {
    margin: auto;
  }
}
