#register-form {
  font-size: 2rem;
  padding: 10rem;
  margin: auto;
}

/* .form-container {
  margin: auto;
  max-width: 30rem;
} */

.form-group {
  margin-top: 1rem;
}

input[type="text"],
input[type="email"] {
  font-size: 15px;
}

#btn-register {
  border: none;
  margin: 2rem 0;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  #register-form {
    display: flex;
    flex-flow: column;
  }

  /* .form-container {
    margin: 0;
  } */
}
